@model UTCCatholic.InputModels.UserInput
@{
	ViewBag.Title = "Retreaters - ChattAwakening";
}


<h1 class="fg-emerald">
	<a href="@Url.Action("Index")">
		<i class="icon-arrow-left-3 fg-green smaller"></i>
	</a>
	Retreater
	<small class="on-right">ChattAwakening</small>
</h1>

@if ( Model.Fee != 0M )
{
	<h2>
		Your Fee is $@Model.Fee
		<small>You have paid $@Model.FeePaid</small>
	</h2>
}
else
{
	if ( ViewBag.RetreatersCount >= 20 )
	{
		<h2 class="subheader">
			Retreater Fees will be $30.
		</h2>	
	}
	else
	{
		<h2 class="subheader">
			Retreater Fees will be $10.
			<small>For the first 20 retreaters!</small>
		</h2>
	}
}

<p>
	Maybe you have been to a retreat or two in the past, or never even thought of willingly giving up your weekend to deepen your relationship with God.  The ChattAwakening retreat was created to help all students, no matter where they happen to be in their faith journey currently.  Whether your faith is steadfast and certain, you have a couple of doubts that need to be answered, or your not sure at all what you believe, ChattAwakening can help provide some of those answers or at least help you define the questions.  Come for a deepening of your faith or just to experience the fellowship of the Christian community.  Whatever your reason for coming, you will leave with a new outlook on life.
</p>
	<div class="grid">
		@{
			if ( Model.StafferPending )
			{
				<div data-bind="if: Page.User.User.Retreater" class="row">
					<a href="@Url.Action("Staffers")" class="col-xs-12 bg-emerald padding20 text-center">
						<span class="subheader fg-white introduce_r">You have already applied to be a staffer. <br /> Please go to the staffer page. Thank you!</span>
					</a>
				</div>
			}
			else if ( Model.Staffer )
			{
				<div data-bind="if: Page.User.User.Retreater" class="row">
					<a href="@Url.Action("Staffers")" class="col-xs-12 bg-emerald padding20 text-center">
						<span class="subheader fg-white introduce_r">You have already applied to be a staffer. <br /> Please go to the staffer page. Thank you!</span>
					</a>
				</div>
			}
			else if ( Model.Retreater )
			{
				<div class="row">
					<div class="col-sm-7">
						<span class="subheader-secondary">
							You have already applied to be a retreater. Thank you!
							<br />
							You can review your application below.
						</span>
					</div>
					<div class="col-sm-offset-1 col-sm-4">
						@using(Html.BeginForm("RetreatersDelete", "Awakening", new { userID = Model.RID }, FormMethod.Post, null ))
						{
							@Html.AntiForgeryToken()
							<button type="submit" class="col-xs-12 bg-red padding10 text-center">
								<span class="fg-white subheader-secondary">Delete Application</span>
							</button>
						}
					</div>
				</div>
				<div>
					@{ Html.RenderPartial( "_RetreaterReviewApplication", Model); }
				</div>
			}
			else if ( Model.RetreaterPending )
			{
				<div class="row">
					<div class="col-sm-7">
						<span class="subheader-secondary">
							You have already applied to be a retreater. Thank you!
							<br />
							You can review your application below.
						</span>
					</div>
					<div class="col-sm-offset-1 col-sm-4">
						@using ( Html.BeginForm( "RetreatersDelete", "Awakening", new { userID = Model.RID }, FormMethod.Post, null ) )
						{
							@Html.AntiForgeryToken()
							<button type="submit" class="col-xs-12 bg-red padding10 text-center">
								<span class="fg-white subheader-secondary">Delete Application</span>
							</button>
						}
					</div>
				</div>
				<div>
					@{ Html.RenderPartial( "_RetreaterReviewApplication", Model ); }
				</div>
			}
			else
			{
				<div>
					@if( Model != null)
					{
						Html.RenderPartial( "_RetreaterApp", Model );
					}
					else
					{
						Html.RenderPartial( "_RetreaterApp", new UTCCatholic.InputModels.UserInput( ) );
					}
				</div>
			}
		}
	</div>

@*
<div data-bind="if: Page.User.loading()">
	<div data-bind="if: Page.failed()">
		<span>We could not authenticate you. This is the server message:</span><br />
		<span data-bind="text: Page.Message()"></span>
		Please log out, and log back in, and return here. If the problem persists, please <a href="mailto:james0308@outlook.com">contact the administrator.</a>
	</div>
	<div data-bind="ifnot: Page.failed()">
		<img src="@Url.Content("~/Content/Images/ajax-loader.gif")" height=50 width=50 />
		Please be patient. We are loading the latest information.
	</div>
</div>
<div data-bind="visible: !Page.User.loading()">
	<div data-bind="if: Page.User.User.Retreater()">
		<div class="row">
			<div class="col-sm-7">
				<span class="subheader-secondary">
					You have already applied to be a staffer. Thank you!
					<br />
					You can review your application below.
				</span>
			</div>
			<div class="col-sm-5">
				<a href="mailto:james0308@outlook.com" class="col-xs-12 bg-green">
					<span class="col-xs-12 padding20 text-center fg-white">If there are any issues/changes with your application, please contact our administrators.</span>
				</a>
			</div>
		</div>
		<div data-bind="template: { name: 'viewApplication', data: Page.User.User }">
		</div>
	</div>
	<div data-bind="if: Page.User.User.RetreaterPending()">
		<div class="row">
			<div class="col-sm-7">
				<span class="subheader-secondary">
					You have already applied to be a retreater. Thank you!
					<br />
					You can review your application below.
				</span>
			</div>
			<div class="col-sm-5">
				<a href="mailto:james0308@outlook.com" class="col-xs-12 bg-green">
					<span class="col-xs-12 padding20 text-center fg-white">If there are any issues/changes with your application, please contact our administrators.</span>
				</a>
			</div>
		</div>
		<div data-bind="template: { name: 'viewApplication', data: Page.User.User }">
		</div>
	</div>
	<div data-bind="if: Page.User.User.Staffer()" class="grid">
		<div class="row">
			<a class="col-xs-12 bg-emerald" href="@Url.Action("Staffers")">
				<span class="col-xs-12 padding20 subheader text-center fg-white introduce_r">You have already applied to be a staffer. <br /> Please go to the staffer page. Thank you!</span>
			</a>
		</div>
	</div>
	<div data-bind="if: Page.User.User.StafferPending()" class="grid">
		<div class="row">
			<a class="col-xs-12 bg-emerald" href="@Url.Action("Staffers")">
				<span class="col-xs-12 padding20 subheader text-center fg-white introduce_r">You have already applied to be a staffer. <br /> Please go to the staffer page. Thank you!</span>
			</a>
		</div>
	</div>
	<div data-bind="visible: Page.User.User.ShowApp()">
		@{     Html.RenderPartial( "_RetreaterApp" ); }
	</div>
</div>





			
<script>
	var Page = new function ()
	{
		self = this;
		self.User = new PersonalUser();
		self.failed = ko.observable(false);
		self.Message = ko.observable();
	}
	ko.applyBindings(Page);
	$.connection.hub.start(function ()
	{
	}).done(function ()
	{
		console.log('Connected to Server!');
		Page.User.init();
		Page.failed(false);
	})
    .fail(function (e)
    {
    	console.log('Could not Connect!');
    	Page.Message(e);
    	Page.failed(true);
    });
	$(function ()
	{
		var form = $("#retreatForm");
		form.removeData('validator');
		form.removeData('unobtrusiveValidation');
		$.validator.unobtrusive.parse(form);
	});

</script>
*@