@model UTCCatholic.ViewModels.EmergencyView

<div class="grid fluid">
	<div class="row">
		<div class="col-xs-6">
			<div class="input-control text" data-role="input-control">
				<label>@Html.LabelFor( m => m.FirstName )</label>
				<input data-bind="value:Emergency.FirstName()" disabled />
			</div>
		</div>
		<div class="col-xs-6">
			<div class="input-control text" data-role="input-control">
				<label>@Html.LabelFor( m => m.LastName )</label>
				<input data-bind="value:Emergency.LastName()" disabled />
			</div>
		</div>
	</div>
	<div class="row">
		<label class="subheader-secondary">Phone</label>
		<fieldset>
			<div class="col-xs-6">
				<div class="input-control text" data-role="input-control">
					<label>@Html.LabelFor( m => m.Phone.Number )</label>
					<input data-bind="value:Emergency.Phone.Number()" disabled />
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-control text" data-role="input-control">
					<label>@Html.LabelFor( m => m.Phone.Carrier )</label>
					<input data-bind="value:Emergency.Phone.Carrier.Title()" disabled />
				</div>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<div class="input-control text col-xs-12" data-role="input-control">
			<label>@Html.LabelFor( m => m.Email )</label>
			<input data-bind="value:Emergency.Email()" disabled />
		</div>
	</div>
</div>