@model UTCCatholic.InputModels.EmergencyInput

<fieldset>
	<div class="grid fluid">
		<div class="row">
			<div class="col-xs-6">
				<div class="input-control text" data-role="input-control">
					<label>@Html.LabelFor( m => m.FirstName)</label>
					@Html.TextBoxFor( m => m.FirstName, new { placeholder = "First Name" } )
					<button class="btn-clear" tabindex="-1" type="button"></button>
					@Html.ValidationMessageFor( m => m.FirstName )
				</div>
			</div>
			<div class="col-xs-6">
				<div class="input-control text" data-role="input-control">
					<label>@Html.LabelFor( m => m.LastName)</label>
					@Html.TextBoxFor( m => m.LastName, new { placeholder = "Last Name" } )
					<button class="btn-clear" tabindex="-1" type="button"></button>
					@Html.ValidationMessageFor( m => m.LastName )
				</div>
			</div>
		</div>
		<div class="row">
			<label class="subheader-secondary">Phone</label>
			<fieldset>
				<div class="col-xs-6">
					<div class="input-control text" data-role="input-control">
						<label>@Html.LabelFor( m => m.Phone.Number )</label>
						@Html.TextBoxFor( m => m.Phone.Number, new { placeholder = "555-555-5555" } )
						<button class="btn-clear" tabindex="-1" type="button"></button>
						@Html.ValidationMessageFor( m => m.Phone.Number )
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-control select" data-role="input-control">
						<label>@Html.LabelFor( m => m.Phone.Carrier )</label>
						@Html.DropDownListFor( m => m.Phone.Carrier, ViewBag.Carriers as SelectList, "Select Carrier", null )
						@Html.ValidationMessageFor( m => m.Phone.Carrier )
					</div>
				</div>
			</fieldset>
		</div>
		<div class="input-control text" data-role="input-control">
			<label>@Html.LabelFor( m => m.Email )</label>
			@Html.TextBoxFor( m => m.Email, new { placeholder = "example@example.com" } )
			<button class="btn-clear" tabindex="-1" type="button"></button>
			@Html.ValidationMessageFor( m => m.Email )
		</div>
	</div>
</fieldset>